<div class="container-fluid" *ngIf="showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header d-flex justify-content-between">
                    <h1>{{ titleForm }}</h1>
                </div>
                <div class="card-body">
                    <app-form-product
                        [productId]="productId"
                        (afterSave)="showForm = false; reloadDataTable()"
                    ></app-form-product>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header d-flex justify-content-between">
                    <div class="row d-flex">
                        <form
                            class="form-inline input-group align-items-center"
                        >
                            <div class="form-group p-2">
                                <div class="input-group mr-2">
                                    <ng-select
                                        style="
                                            width: 270px;
                                            margin-right: 8px;
                                            margin-left: 8px;
                                        "
                                        [items]="customers"
                                        (change)="filterByCustomer($event)"
                                        [multiple]="true"
                                        id="filter-customer"
                                        class="mr-2"
                                        placeholder="Pilih Customer"
                                        bindLabel="name"
                                        bindValue="id"
                                        [loading]="showLoading"
                                        [searchable]="false"
                                        [(ngModel)]="selectedCustomer"
                                        name="customer_id"
                                    >
                                        <ng-template ng-header-tmp>
                                            <input
                                                class="form-control"
                                                type="text"
                                                debounceKeyUp
                                                (onEvent)="
                                                    getSale($event.target.value)
                                                "
                                            />
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group p-2">
                                <div class="input-group mr-2">
                                    <!-- <ng-select
                                        style="
                                            width: 270px;
                                            margin-right: 8px;
                                            margin-left: 8px;
                                        "
                                        [items]="products"
                                        (change)="filterByProduct($event)"
                                        [multiple]="true"
                                        id="filter-product"
                                        class="mr-2"
                                        placeholder="Pilih Product"
                                        bindLabel="name"
                                        bindValue="id"
                                        [loading]="showLoading"
                                        [searchable]="true"
                                        name="product_id"
                                    >
                                        <ng-template ng-header-tmp>
                                            <input
                                                class="form-control"
                                                type="text"
                                                debounceKeyUp
                                                (onEvent)="getProducts($event.target.value)"
                                            />
                                        </ng-template>
                                    </ng-select> -->
                                    <!-- <span
                                        class="input-group-text border-start-0 bg-white"
                                    >
                                        <em class="fa fa-search"></em>
                                    </span> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="row d-flex align-content-start">
                                <!-- loop product -->
                                <div
                                    class="p-5 col-md-3"
                                    *ngFor="let product of listProducts"
                                >
                                    <div class="text-end">
                                        <a
                                            href="javascript: void(0);"
                                            class="align-middle mr-2"
                                            (click)="formUpdate(product)"
                                            placement="left"
                                            container="body"
                                            ngbTooltip="Ubah"
                                        >
                                            <em
                                                class="fa fa-edit font-size-14"
                                            ></em>
                                        </a>
                                    </div>
                                    <div class="card">
                                        <a
                                            href="javascript:void(0);"
                                            class=""
                                            (click)="addToCart(product.id)"
                                        >
                                            <img
                                                class="card-img-top img-fluid rounded"
                                                [src]="product.photo_url"
                                                alt="Product Image"
                                            />
                                        </a>
                                        <div
                                            class="card-body text-center border-top-0"
                                        >
                                            <!-- nama menu -->
                                            <h4>{{ product.name }}</h4>
                                            <p
                                                class="card-text h5 text-primary"
                                            >
                                                <!-- harga menu -->
                                                Rp. {{ product.price }}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <ngb-pagination
                                    class="d-flex justify-content-center"
                                    [(page)]="page"
                                    [pageSize]="pageSize"
                                    [collectionSize]="collectionSize"
                                ></ngb-pagination>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <app-form-sale
                            [customer]="selectedCustomer"
                            [listDiscount]="listDiscount"
                            [listVoucher]="listVoucher"
                            [selectedProducts]="selectedProducts"
                            (afterSave)="resetPage()"
                        ></app-form-sale>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="container-fluid" *ngIf="showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header d-flex justify-content-between">
                    <h1>{{ titleForm }}</h1>
                </div>
                <div class="card-body">
                    <app-form-product
                        [productId]="productId"
                        (afterSave)="showForm = false"
                    ></app-form-product>
                </div>
            </div>
        </div>
    </div>
</div> -->
